# Relatório de Análise IV

## Seleção e Frequência

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [3]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [4]:
#Selecione somente os imóveis classificados com tipo 'Apartamento'.

In [16]:
selecao_de_apartamentos = dados['Tipo'] == 'Apartamento'
selecao_de_apartamentos

0        False
1        False
2         True
3         True
4         True
         ...
23118     True
23119    False
23120     True
23121     True
23122     True
Name: Tipo, Length: 23123, dtype: bool

In [19]:
apartamentos = dados[selecao_de_apartamentos]
n1 = apartamentos.shape[0]
n1

19532

In [ ]:
#Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

In [22]:
selecao_de_casas = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
casas = dados[selecao_de_casas]
n2 = dados[selecao_de_casas].shape[0]
n2

2212

In [28]:
selecao_60a100 = (dados['Area'] >= 60) & (dados['Area'] <= 100)
imoveis_60a100 = dados[selecao_60a100]
n3 = imoveis_60a100.shape[0]
n3

8990

In [ ]:
#Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

In [34]:
selecao_grandes_e_baratos = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
imoveis_grandes_e_baratos = dados[selecao_grandes_e_baratos]
n4 = imoveis_grandes_e_baratos.shape[0]
n4

42

## Conclusão

In [37]:
print("No de imóveis classificados com tipo 'Apartamento': {}".format(n1))
print("No de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila': {}".format(n2))
print("No de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites: {}".format(n3))
print("No de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00: {}".format(n4))

No de imóveis classificados com tipo 'Apartamento': 19532
No de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila': 2212
No de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites: 8990
No de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00: 42