# Relatório de análise V

## Tratamento de dados

In [19]:
import pandas as pd

In [20]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [104]:
dados.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False   True
4      False   False    False  False   False  False  False        True   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
23118  False   False    False  False   False  False  False       False  False
23119  False   False    False  False   False  False  False       False  False
23120  False   False    False  False   False  False  False       False  False
23121  False   False    False  False   False  False  False       False  False
23122  False   False    False  False   False  False  False       False   True

[23114 rows x 9 columns]

In [22]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23123 entries, 0 to 23122
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        23123 non-null  object
 1   Bairro      23123 non-null  object
 2   Quartos     23123 non-null  int64
 3   Vagas       23123 non-null  int64
 4   Suites      23123 non-null  int64
 5   Area        23123 non-null  int64
 6   Valor       23114 non-null  float64
 7   Condominio  21247 non-null  float64
 8   IPTU        16237 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [95]:
selecao_valor = (dados['Valor'].notnull())
filtro_valor = dados[selecao_valor]
valor_filtrado = dados[selecao_valor].shape[0]
dados = dados[selecao_valor]
dados.shape[0]

23114

In [97]:
selecao_condominio_invalido = ((dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())) | ((dados['Tipo'] == 'Quitinete') & (dados['Condominio'].isnull())) | ((dados['Tipo'] == 'Casa de Condomínio') & (dados['Condominio'].isnull())) | ((dados['Tipo'] == 'Flat') & (dados['Condominio'].isnull())) | ((dados['Tipo'] == 'Loft') & (dados['Condominio'].isnull())) | ((dados['Tipo'] == 'Studio') & (dados['Condominio'].isnull()))
dados[selecao_condominio_invalido].drop

<bound method DataFrame.drop of                      Tipo           Bairro  Quartos  Vagas  Suites  Area  \
4             Apartamento     Vista Alegre        3      1       0    70
6      Casa de Condomínio  Barra da Tijuca        5      4       5   750
7      Casa de Condomínio            Ramos        2      2       0    65
8             Apartamento           Centro        1      0       0    36
15     Casa de Condomínio          Taquara        3      1       1   115
...                   ...              ...      ...    ...     ...   ...
22868         Apartamento       Copacabana        3      0       0   130
22897         Apartamento        Guadalupe        1      0       0    40
22914         Apartamento       Bonsucesso        1      0       0    60
22944         Apartamento         Flamengo        2      0       0    59
23016         Apartamento        Cascadura        3      0       1    70

         Valor  Condominio  IPTU
4       1200.0         NaN   NaN
6      22000.0         NaN   NaN
7       1000.0         NaN   NaN
8       1200.0         NaN   NaN
15      2000.0         NaN   NaN
...        ...         ...   ...
22868   4600.0         NaN   NaN
22897    550.0         NaN   NaN
22914   1000.0         NaN   NaN
22944   3500.0         NaN   NaN
23016   1200.0         NaN   NaN

[954 rows x 9 columns]>

In [98]:
dados.shape[0]

23114

In [102]:
dados['Condominio'].isnull == 'Casa'

False